*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    margin: 0 auto;
}

.btn-mag{
    margin: 7px;
    padding:40px;
}

input{
    width: 12rem;
    padding:4px;
    border-radius: 6px;
}